# [作業目標]
- 請同學試著使用 pandas.corr() 這個函數來顯示相關係數並加以觀察結果 
- 思考1 : 使用 pandas 有沒有什麼寫法, 可以顯示欄位中最大的幾筆, 以及最小幾筆呢? (Hint: 排序後列出前幾筆/後幾筆)
- 思考2 : 試著使用散佈圖, 顯示相關度最大/最小的特徵與目標值的關係, 如果圖形不明顯, 是否有調整的方法?

# [作業重點]
- 綜合前幾單元的作法, 試試看是否能夠用繪圖顯示出特徵與目標的相關性

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
for col in app_train:
    if app_train[col].dtype == 'object':
        if len(app_train[col].unique())<=2:
            app_train[col] = le.fit_transform(app_train[col])
            
print(app_train.shape)

(307511, 122)

In [12]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

In [18]:
app_train['DAYS_EMPLOYED_ANOM'] = app_train['DAYS_EMPLOYED'] == 365243

In [27]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

### 相關係數
一樣，pandas 很貼心地讓我們可以非常容易計算相關係數

In [28]:
# 觀察相關係數
app_train.corr()['TARGET']

SK_ID_CURR                   -0.002108
TARGET                        1.000000
NAME_CONTRACT_TYPE           -0.030896
FLAG_OWN_CAR                 -0.021851
FLAG_OWN_REALTY              -0.006148
                                ...
AMT_REQ_CREDIT_BUREAU_MON    -0.012462
AMT_REQ_CREDIT_BUREAU_QRT    -0.002022
AMT_REQ_CREDIT_BUREAU_YEAR    0.019930
DAY_EMPLOYED_ANOM            -0.045987
DAYS_EMPLOYED_ANOM                 NaN
Name: TARGET, Length: 111, dtype: float64

## 練習時間
列出目標 (TARGET) 與所有欄位之間相關係數，數值最大以及最小各 15 個

通過相關係數的結果觀察有興趣的欄位與 TARGET 或其他欄位的相關係數，並嘗試找出有趣的訊息
- 最好的方式當然是畫圖，舉例來說，我們知道  EXT_SOURCE_3 這個欄位和 TARGET 之間的相關係數是 -0.178919 (在已經這個資料集已經是最負的了！)，那我們可以 EXT_SOURCE_3  為 x 軸， TARGET 為 y 軸，把資料給畫出來

In [30]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'DAY_EMPLOYED_ANOM',
       'DAYS_EMPLOYED_ANOM'],
      dtype='object', length=124)

In [53]:
for col in app_train.columns:
    if app_train[col].dtype != 'object':
        corr = np.corrcoef(app_train[col], app_train['TARGET'])
        print(col)
        if corr[0][1] != 'nan':
            print(corr[0][1])
        print('-----------------')

SK_ID_CURR
-0.0021084690181977185
-----------------
TARGET
1.0
-----------------
NAME_CONTRACT_TYPE
-0.03089590816104764
-----------------
FLAG_OWN_CAR
-0.021850938463835717
-----------------
FLAG_OWN_REALTY
-0.006148387704570253
-----------------
CNT_CHILDREN
0.019187133596269994
-----------------
AMT_INCOME_TOTAL
-0.003981865601205662
-----------------
AMT_CREDIT
-0.03036928646142965
-----------------
AMT_ANNUITY
nan
-----------------
AMT_GOODS_PRICE
nan
-----------------
REGION_POPULATION_RELATIVE
-0.03722714854244525
-----------------
DAYS_BIRTH
-0.07823930830982694
-----------------
DAYS_EMPLOYED
nan
-----------------
DAYS_REGISTRATION
0.04197486283141716
-----------------
DAYS_ID_PUBLISH
0.05145717260705743
-----------------
OWN_CAR_AGE
nan
-----------------
FLAG_MOBIL
0.0005343955790282575
-----------------
FLAG_EMP_PHONE
0.04598221971659251
-----------------
FLAG_WORK_PHONE
0.028524322363217502
-----------------
FLAG_CONT_MOBILE
0.000370126802348927
-----------------
FLAG_PHONE
-0.023806272330357287
-----------------
FLAG_EMAIL
-0.0017583834312546065
-----------------
CNT_FAM_MEMBERS
nan
-----------------
REGION_RATING_CLIENT
0.05889901494571238
-----------------
REGION_RATING_CLIENT_W_CITY
0.060892667564823415
-----------------
HOUR_APPR_PROCESS_START
-0.024165831430094382
-----------------
REG_REGION_NOT_LIVE_REGION
0.005575944520908466
-----------------
REG_REGION_NOT_WORK_REGION
0.006941907545371621
-----------------
LIVE_REGION_NOT_WORK_REGION
0.002819479184158924
-----------------
REG_CITY_NOT_LIVE_CITY
0.04439537480570111
-----------------
REG_CITY_NOT_WORK_CITY
0.05099446436812667
-----------------
LIVE_CITY_NOT_WORK_CITY
0.0325183411014988
-----------------
EXT_SOURCE_1
nan
-----------------
EXT_SOURCE_2
nan
-----------------
EXT_SOURCE_3
nan
-----------------
APARTMENTS_AVG
nan
-----------------
BASEMENTAREA_AVG
nan
-----------------
YEARS_BEGINEXPLUATATION_AVG
nan
-----------------
YEARS_BUILD_AVG
nan
-----------------
COMMONAREA_AVG
nan
-----------------
ELEVATORS_AVG
nan
-----------------
ENTRANCES_AVG
nan
-----------------
FLOORSMAX_AVG
nan
-----------------
FLOORSMIN_AVG
nan
-----------------
LANDAREA_AVG
nan
-----------------
LIVINGAPARTMENTS_AVG
nan
-----------------
LIVINGAREA_AVG
nan
-----------------
NONLIVINGAPARTMENTS_AVG
nan
-----------------
NONLIVINGAREA_AVG
nan
-----------------
APARTMENTS_MODE
nan
-----------------
BASEMENTAREA_MODE
nan
-----------------
YEARS_BEGINEXPLUATATION_MODE
nan
-----------------
YEARS_BUILD_MODE
nan
-----------------
COMMONAREA_MODE
nan
-----------------
ELEVATORS_MODE
nan
-----------------
ENTRANCES_MODE
nan
-----------------
FLOORSMAX_MODE
nan
-----------------
FLOORSMIN_MODE
nan
-----------------
LANDAREA_MODE
nan
-----------------
LIVINGAPARTMENTS_MODE
nan
-----------------
LIVINGAREA_MODE
nan
-----------------
NONLIVINGAPARTMENTS_MODE
nan
-----------------
NONLIVINGAREA_MODE
nan
-----------------
APARTMENTS_MEDI
nan
-----------------
BASEMENTAREA_MEDI
nan
-----------------
YEARS_BEGINEXPLUATATION_MEDI
nan
-----------------
YEARS_BUILD_MEDI
nan
-----------------
COMMONAREA_MEDI
nan
-----------------
ELEVATORS_MEDI
nan
-----------------
ENTRANCES_MEDI
nan
-----------------
FLOORSMAX_MEDI
nan
-----------------
FLOORSMIN_MEDI
nan
-----------------
LANDAREA_MEDI
nan
-----------------
LIVINGAPARTMENTS_MEDI
nan
-----------------
LIVINGAREA_MEDI
nan
-----------------
NONLIVINGAPARTMENTS_MEDI
nan
-----------------
NONLIVINGAREA_MEDI
nan
-----------------
TOTALAREA_MODE
nan
-----------------
OBS_30_CNT_SOCIAL_CIRCLE
nan
-----------------
DEF_30_CNT_SOCIAL_CIRCLE
nan
-----------------
OBS_60_CNT_SOCIAL_CIRCLE
nan
-----------------
DEF_60_CNT_SOCIAL_CIRCLE
nan
-----------------
DAYS_LAST_PHONE_CHANGE
nan
-----------------
FLAG_DOCUMENT_2
0.005417144279619333
-----------------
FLAG_DOCUMENT_3
0.044346346851144865
-----------------
FLAG_DOCUMENT_4
-0.002672082170162177
-----------------
FLAG_DOCUMENT_5
-0.0003157774166462854
-----------------
FLAG_DOCUMENT_6
-0.0286018939730614
-----------------
FLAG_DOCUMENT_7
-0.001519503160087933
-----------------
FLAG_DOCUMENT_8
-0.008040384466056654
-----------------
FLAG_DOCUMENT_9
-0.0043524085808421785
-----------------
FLAG_DOCUMENT_10
-0.0014138915975240973
-----------------
FLAG_DOCUMENT_11
-0.004229349652160081
-----------------
FLAG_DOCUMENT_12
-0.0007557507043579039
-----------------
FLAG_DOCUMENT_13
-0.011583222341419492
-----------------
FLAG_DOCUMENT_14
-0.009463821935576969
-----------------
FLAG_DOCUMENT_15
-0.0065356575840949125
-----------------
FLAG_DOCUMENT_16
-0.011614671588293437
-----------------
FLAG_DOCUMENT_17
-0.003377569147413905
-----------------
FLAG_DOCUMENT_18
-0.007952385099462498
-----------------
FLAG_DOCUMENT_19
-0.0013575183243008315
-----------------
FLAG_DOCUMENT_20
0.00021539355797725417
-----------------
FLAG_DOCUMENT_21
0.003708625029306517
-----------------
AMT_REQ_CREDIT_BUREAU_HOUR
nan
-----------------
AMT_REQ_CREDIT_BUREAU_DAY
nan
-----------------
AMT_REQ_CREDIT_BUREAU_WEEK
nan
-----------------
AMT_REQ_CREDIT_BUREAU_MON
nan
-----------------
AMT_REQ_CREDIT_BUREAU_QRT
nan
-----------------
AMT_REQ_CREDIT_BUREAU_YEAR
nan
-----------------
DAY_EMPLOYED_ANOM
-0.04598707841557871
-----------------
DAYS_EMPLOYED_ANOM
nan
-----------------

/Users/aaronwu/opt/anaconda3/envs/tensorflow/lib/python3.7/site-packages/numpy/lib/function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/aaronwu/opt/anaconda3/envs/tensorflow/lib/python3.7/site-packages/numpy/lib/function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]